* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: 'Poppins', sans-serif;
}

html,
body {
    scroll-behavior: smooth;
}

p {
    font-family: 'Poppins', sans-serif;
}

:root {
    --primary-color: #0f1b4c;
}

/* Common */
.content {
    width: 1110px;
    max-width: calc(100% - 48px);
    margin: auto;
}

a {
    text-decoration: none;
}

.btn {
    display: inline-block;
    min-width: 98px;
    padding: 18px 16px;
    background-color: var(--primary-color);
    border-radius: 12px;
    font-weight: 500;
    font-size: 1.4rem;
    text-align: center;
    color: #ffffff;
}

.btn:hover {
    opacity: 0.9;
    transition: box-shadow 0.2s, transform 0.2s, opacity 0.2s;
}
